<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="card mb-2 text-center bg-dark">
      <!-- <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Título del GIF</h5>
        <p class="card-text">Descripción del GIF.</p>
        <a href="#" class="btn btn-primary">Ver GIF</a>
      </div> -->

      <div class="card-body text-white">
        <p class="card-text">Hola</p>
      </div>

    </div>
  </div>

</div>
